html, body{
    margin: 0;
    padding: 0;
}

/*
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87vw;
    height: 75vh;
    top: 10vh;
    left: 5vw;
    border: 20px double rgb(6, 70, 6);
}

.boxes{
    width: 46vw;
    height: 24vh;
    border: 5px solid rgb(7, 75, 7);
    background-color: rgb(75, 211, 75);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.box-1{
    height: 8vh;
    width: 5vw;
    background-color:rgb(7, 75, 7);
    margin-left: 1.5vw;
}

.box-2{
    height: 8vh;
    width: 5vw;
    background-color:rgb(7, 75, 7);
    margin-left: 1.5vw;
}

.boxes:hover .box-1{
    animation-name: animation_move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    background-color: green;
}

.boxes:hover .box-2{
    animation-name: animation_move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    background-color: green;
    animation-delay: 1s;
}

@keyframes animation_move{
    0%{
        margin-left: 1.5vw;
    }
    100%{
        margin-left: 40vw;
    }
}

*/

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87vw;
    height: 75vh;
    top: 10vh;
    left: 5vw;
    border: 20px double rgb(6, 70, 6);
}

.boxes{
    position: relative;
    width: 46vw;
    height: 24vh;
    border: 5px solid rgb(7, 75, 7);
    background-color: rgb(75, 211, 75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-1{
    height: 8vh;
    width: 5vw;
    background-color:rgb(7, 75, 7);
    margin-left: 1.5vw;
    transition: margin-left ease 4s;
}

.box-2{
    height: 8vh;
    width: 5vw;
    background-color:rgb(7, 75, 7);
    margin-left: 1.5vw;
    transition: margin-left ease 3s;
    transition-delay: 1s;
}

.boxes:hover .box-1{
    margin-left: 40vw;
}

.boxes:hover .box-2{
    margin-left: 40vw;
}